{% extends 'polls/base.html' %}
<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<h1>Submitted Deep Thoughts</h1>
{% if thoughts_list %}
<ul>
    {% for thought in thoughts_list %}
    <li>{{ thought.thought_text }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No deep thoughts submitted yet.</p>
{% endif %}
{% endblock %}
</body>
</html>